<html> {
	font-size: 10px;
	font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 120px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
html {
	
  background-color: #1D0B0B;
}
h1, p, ul, li {
	color: #A0A0A0;
}
body {
  width: 1200px;
  margin: 0 auto;
  background-color: #191919;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
}
